$bg-color: #f8f9fa;
$black: #282828;
$grey: #868e96;

$font-weight: (
  'regular': 400,
  'semi-bold': 650,
  'bold': 800,
);
$font-size: (
  'heading': 48px,
  'big': 28px,
  'regular': 18px,
  'small': 12px,
);
